<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        header nav ul{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: gold;
            gap:8px;
        }
          header nav ul li{
            list-style: none;
          }

    </style>
</head>
<body>
    
    <header>
        <nav>
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>service</li>
                <li>Job</li>
            </ul>
        </nav>
    </header>
</body>
</html>